<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <%- include ("partials/htmlHeader") %>
    <!-- Web Page Description -->
    <title>haiamcherry | myProfile</title>
  </head>
  <body>
    <%- include ("partials/headerNav", { user }) %>
    <%- include ("partials/banner", { user }) %>
    <main>      
      <%- include ("partials/message", { message }) %>
      <div class="content">        
        <% if (user) { %>
            <h3>Hello! <%= user.username %></a></h3>
            <!------------ Write Article Form ------------->          
            <form id="postForm" action="/<%= user.username %>/postText" method="POST">  
              <h4>Anything new today?</h4>                
              <div class="form-group">
                <input
                    class="form-control"
                    type="text"
                    id="inputTitle"
                    placeholder="Title:"
                    name="title"
                  />
              </div>
              <div class="form-group form-content">
                <textarea
                    class="form-control"
                    type="text"
                    rows="2"
                    id="inputContent"
                    placeholder="Content:"
                    name="content"
                    style="resize:none;"
                  >
                  </textarea>
              </div>
              <button type="submit" id="setPost" class="btn btn-primary">Post</button> 
            </form>
            <button type="submit" id="getPosts" class="btn btn-primary">Refresh Posts</button> 
            <button type="submit" id="getPostRange" class="btn btn-primary">getPosts 7-12</button> 
            <!------------  Article History ------------->
            <div class="postContainer">
                <% if(posts) { %>
                  <% posts.slice(0).reverse().map((post) => { %>
                    <div class="postText">
                      <div class="postRow">
                        <h4><%= post.id %>: <%= post.title %></h4>
                        <img class="arrowBtn" src="/public/icons/angle-small-down.svg" style="height:23px;width:23px" alt="down">
                      </div>
                      <div class="postRow postContent" style="display: none;">
                        <p><%= post.content%></p>
                      </div>            
                      <div class="postRow">
                        <span>by <%= post.author %></span>
                        <span><%= post.timestamp %></span>
                      </div>
                    </div>
                  <%})%>
                <% } %>
           </div>              
        <% } %>
      </div>  
    </main>
    <%- include ("partials/footer") %>
  </body>
</html>
