<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <%- include ("partials/htmlHeader") %>
    <!-- Web Page Description -->
    <title>haiamcherry | myProfile</title>
  </head>
  <body>
    <%- include ("partials/headerNav") %>
    <main>
      <%- include ("partials/banner") %>
      <div class="content">
        <% if (message) { %>
          <h2 class="message"><%= message %></h2>
          <% } %>
        <% if (user) { %>
        <h3>Hello! <%= user.username %></a></h3>
        <% } %>
        <br />
        <div class="content">
          <!-- put articles here -->
        </div>  
      </div>
    </main>
    <%- include ("partials/footer") %>
  </body>
</html>
