<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <%- include ("partials/htmlHeader") %>
        <!-- Web Page Description -->
        <title>haiamcherry | SignUp</title>
  </head>
  <body>
    <%- include ("partials/headerNav", { user }) %>
    <main>
      <%- include ("partials/banner", { user }) %>
        <div class="content">
            <%- include ("partials/message", { message }) %>
            <h3 style="font-size: 2rem;">Signup Here or <a href="/login"><u>Login</u></a></h3>
            <br />
            <form action="/signup" method="POST">
              <div class="form-group">
                <label for="inputName">Username：</label>
                <input
                  class="form-control"
                  type="text"
                  id="myname"
                  placeholder="please enter username"
                  name="username"
                  required
                />
              </div>
              <br />
              <div class="form-group">
                <label for="inputEmail">Email address：</label>
                <input
                  class="form-control"
                  type="email"
                  id="inputEmail"
                  placeholder="your email"
                  name="email"
                  required
                />
              </div>
              <br />
              <div class="form-group">
                <label for="inputPassword">Password：</label>
                <input
                  class="form-control"
                  type="password"
                  id="inputPassword"
                  placeholder="Must Contain UpperCase, LowerCase and Numbers"
                  name="password"
                  required
                />
                <div class="showPwBox">
                  <input id="showPw" type="checkbox" onclick="myFunction()" />                
                  <label for="showPw">Show Password</label>
                </div>                
                <script>
                  function myFunction() {
                    var pw = document.getElementById("inputPassword");
                    if (pw.type == "password") {
                        pw.type = "text";
                    } else {
                        pw.type = "password";
                    }
                  }
                </script>
              </div>
              <br />
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </main>
    <%- include ("partials/footer") %>
  </body>
</html>
